.header-1 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-4 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-5 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-6 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-7 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-9 {
                                    background: url(../images/header146708953_02-iso-27001-2013.png) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-10 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-11 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-13 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-16 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
.header-1-17 {
                                    background: url(../images/header450844033_Bannerpg.jpg) 0px 0px no-repeat;
                                    background-size: cover;
                                    min-height: 380px;
                                } 
